Repository cvsudhakar04/QGIS, changes with the labels that .github/labeler.yml gives for each.
All labels: 3D, Annotations, DB Manager, Expressions, Form, GRASS, GUI/UX, Labeling, Locator, Mesh, Metasearch, Point Clouds, PostGIS data provider, Processing, Server, Vector tiles

Fixed `session_role` not affecting render
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresfeatureiterator.h
Labels: PostGIS data provider

Fixed compilation errors
  src/providers/postgres/qgspostgresfeatureiterator.cpp
Labels: PostGIS data provider

Fix setting min/max decimal values for single band gray renderer
  src/gui/raster/qgssinglebandgrayrendererwidget.cpp
Labels: GUI/UX

Fix setting decimal values to multiband color renderer
  python/gui/auto_generated/qgsdoublevalidator.sip.in
  src/gui/qgsdoublevalidator.cpp
  src/gui/qgsdoublevalidator.h
  src/gui/raster/qgsmultibandcolorrendererwidget.cpp
  src/gui/raster/qgssinglebandgrayrendererwidget.cpp
  tests/src/gui/testqgsdoublevalidator.cpp
Labels: GUI/UX

Fix categorized symbol renderer feature counts for null values
  src/core/symbology/qgscategorizedsymbolrenderer.cpp
  tests/src/python/test_qgscategorizedsymbolrenderer.py
Labels: none

If password keychain helper is enabled, always sync password stored in keychain when password is changed
  src/core/auth/qgsauthmanager.cpp
  src/gui/auth/qgsautheditorwidgets.cpp
  src/gui/auth/qgsautheditorwidgets.h
  src/gui/auth/qgsauthguiutils.cpp
  src/gui/auth/qgsauthguiutils.h
Labels: GUI/UX

Add method to verify that password stored in password helper is valid
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: none

Add method to reset master password using the existing password stored in the password helper keychain
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: none

When changing master password, don't prompt for the existing password if it is stored in the system password helper and is valid
  src/gui/auth/qgsauthguiutils.cpp
  src/gui/auth/qgsauthmasterpassresetdialog.cpp
  src/gui/auth/qgsauthmasterpassresetdialog.h
Labels: GUI/UX

On systems with keychain support, automatically just create a random master authentication password and store in keychain
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/app/qgisapp.cpp
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: none

Add settings key to disable automatic random password generation
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/app/qgisapp.cpp
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
  src/core/settings/qgssettingstree.h
Labels: none

Add placeholders so that fill and stroke colors can (optionally) be set by QgsApplication::getThemeIcon
  images/themes/default/propertyicons/meshvectors.svg
Labels: none

If dir does not exist for icon path. attempt to make path
  src/core/qgsapplication.cpp
Labels: none

Take scaling into account so that more complex icons are correctly rendered in QgsLayerTreeModelLegendNode::drawSymbol(...)
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: none

Use rulekey data roles for displaying mesh layer tree nodes
  src/core/layertree/qgscolorramplegendnode.cpp
  src/core/layertree/qgscolorramplegendnode.h
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodel.h
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
  src/core/qgsmaplayerlegend.cpp
Labels: none

Fix formatting errors
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/qgsapplication.cpp
  src/core/qgsmaplayerlegend.cpp
Labels: none

Following improved QIcon rendering for legend nodes, control image was updated
  tests/testdata/control_images/legend/expected_legend_diagram_attributes/expected_legend_diagram_attributes_mask.png
Labels: none

[Feature] Add extra mesh layer legend node for currently displayed vector datasets. Fixes #55745
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodel.h
  src/core/qgsmaplayerlegend.cpp
Labels: none

sipify headers
  python/PyQt6/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/PyQt6/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
Labels: none

Check if ctx->context is nullptr and handle gracefully
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: none

improve header docs and sipify
  python/PyQt6/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/PyQt6/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/core/layertree/qgscolorramplegendnode.h
  src/core/layertree/qgslayertreemodellegendnode.h
Labels: none

Rebase
  src/core/qgsapplication.cpp
Labels: none

Use new enum class for custom roles
  src/core/layertree/qgscolorramplegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: none

Add new tests for meshlayer node renderer (Scalar and Vector datasets)
  tests/src/core/testqgslayertree.cpp
  tests/src/core/testqgslegendrenderer.cpp
  tests/src/python/test_qgscolorramplegendnode.py
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector.png
Labels: none

apply formatting
  tests/src/core/testqgslayertree.cpp
  tests/src/core/testqgslegendrenderer.cpp
  tests/src/python/test_qgscolorramplegendnode.py
Labels: none

Add missing 0 argument
  tests/src/python/test_qgscolorramplegendnode.py
Labels: none

Use None instead of 0
  tests/src/python/test_qgscolorramplegendnode.py
Labels: none

Processing: Add Check Geometry algorithm and test: Angle
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmcheckgeometryangle.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryangle.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/CMakeLists.txt
  tests/src/analysis/testqgsprocessingcheckgeometry.cpp
Labels: none

Processing: Add Fix Geometry algorithm and test: Delete vertex
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmdeletevertex.cpp
  src/analysis/processing/qgsalgorithmdeletevertex.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/CMakeLists.txt
  tests/src/analysis/testqgsprocessingfixgeometry.cpp
  tests/testdata/geometry_fix/delete_vertex.gpkg
Labels: none

Add masks and increase size tolerance for mesh legend image checks so they pass for qt6 builds as well
  tests/src/core/testqgslegendrenderer.cpp
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector_mask.png
Labels: none

check if ctx->context is nullptr
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: none

Bump API changes version up to 3.38
  python/PyQt6/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/PyQt6/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/core/layertree/qgscolorramplegendnode.h
  src/core/layertree/qgslayertreemodellegendnode.h
Labels: none

set standart test font to avoid large discrepancies in control images
  tests/src/core/testqgslegendrenderer.cpp
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector_mask.png
Labels: none

qgs3dmapconfigwidget: Only display shadow debug map if shadows are enabled
  src/app/3d/qgs3dmapconfigwidget.cpp
Labels: none

Add test covering new context parameter to QgsVector change attribute(s) functions
  tests/src/python/test_qgsvectorlayer.py
Labels: none

[atribute form] Add parent context when editing a child feature through the relation editor widget
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/qgsattributeform.cpp
  tests/src/python/test_qgsrelationeditwidget.py
Labels: GUI/UX

[attribute form] Add parent feature scope when adding a child feature through the relation editor widget
  python/PyQt6/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayertools.sip.in
  python/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayertools.sip.in
  src/app/qgsfeatureaction.cpp
  src/app/qgsguivectorlayertools.cpp
  src/app/qgsguivectorlayertools.h
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.h
  src/core/vector/qgsvectorlayertools.h
  src/gui/qgsabstractrelationeditorwidget.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: GUI/UX

Address review: add vector layer tools context class, implement addFeatureV2
  python/PyQt6/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayertools.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayertoolscontext.sip.in
  python/PyQt6/core/core_auto.sip
  python/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayertoolscontext.sip.in
  python/core/core_auto.sip
  src/app/qgsguivectorlayertools.cpp
  src/app/qgsguivectorlayertools.h
  src/core/CMakeLists.txt
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayertools.h
  src/core/vector/qgsvectorlayertoolscontext.cpp
  src/core/vector/qgsvectorlayertoolscontext.h
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
  tests/src/python/test_qgsrelationeditwidget.py
  tests/src/python/test_qgsvectorlayer.py
Labels: GUI/UX

Insure when dont try to delete a pointer that deleted
  src/app/qgsguivectorlayertools.cpp
Labels: none

Fix PostGIS geography extent computation
  src/providers/postgres/qgspostgresprovider.cpp
Labels: PostGIS data provider

.github/labeler.yml:

"3D":
  - any: [
    'src/3d/**/*',
    'src/app/3d/**/*',
  ]

"Annotations":
  - any: [
    'src/core/annotations/**/*',
    'src/gui/annotations/**/*',
  ]

"DB Manager":
  - any: ['python/plugins/db_manager/**/*']

"Expressions":
  - any: ['src/core/expression/**/*']

"Form":
  - any: [
    'src/core/editform/**/*',
    'src/gui/attributeformconfig',
  ]

"GRASS":
  - any: ['python/plugins/grassprovider/**/*']

"GUI/UX":
  - any: ['src/gui/**/*']

"Labeling":
  - any: [
    'src/app/labeling/**/*',
    'src/core/labeling/**/*',
  ]

"Locator":
  - any: [
    'src/core/locator/**/*',
    'src/gui/locator/**/*',
  ]

"Mesh":
  - any: [
    'src/analysis/mesh/**/*',
    'src/core/mesh/**/*',
    'src/gui/mesh/**/*',
  ]

"Metasearch":
  - any: ['python/plugins/MetaSearch/**/*']

"Point Clouds":
  - any: [
    'src/app/pointcloud/**/*',
    'src/core/pointcloud/**/*',
    'src/gui/pointcloud/**/*',
  ]

"PostGIS data provider":
  - any: ['src/providers/postgres/**/*']

"Processing":
  - any: [
      'python/plugins/processing/**/*',
      'src/analysis/**/*',
      'src/core/processing/**/*',
      'src/process/**/*'
  ]

"Server":
  - any: [
      'src/server/**/*',
      'resources/server/**/*'
  ]

"Vector tiles":
  - any: [
    'src/core/vectortile/**/*',
    'src/gui/vectortile/**/*',
  ]
